body {
    background-color: #eeeeee;
}

#game-area {
    width: 1200px;
    height: 800px;
    display: block;
    margin:25px;
    background-color: #777777;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #999999;
}