body {
    background-color: #eeeeee;
}

#game-area {
   
    min-width: 900px;
    display: inline-block;
    margin:25px;
}

#left {
    float: left;
    width: 200px;
    height: 300px;
    background-color: teal;
    overflow:auto;
}


#center {
    float: left;
}

#right {
    float: left;
   
    width: 200px;
    height: 300px;
    background-color: teal;
    overflow:auto;
}

#bottom{
    height: 200px;
    border-top: solid white 1px;
    background-color: yellowgreen;
}

#top {
    height: 300px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #999999;
}